

{{#each posts}}
    <div class="post">
        <h2>{{title}}</h2>
        <p>{{post_content}}</p>
        <p class="author">By {{user.userName}}</p>
        <a href="/post/edit/{{id}}">Edit</a>
        <a href="/post/delete/{{id}}">Delete</a>
    </div>
{{/each}}